# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.env
recorded_stream*
*.mp3
__pycache__/
*.py[cod]
*.pyc
recording.cpython-312.pyc
/RadyoKlasikServer/public/static/assets/thumbnails/*.png
/RadyoKlasikServer/public/static/assets/thumbnails/*.jpg
/RadyoKlasikServer/routes/__pycache__
pycache/*
__pycache__/
*.py[cod]
*.sqlite
*.log
/ios
/android
ios/
android/
