<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/dashboard.css') }}"
    />
    <script>
      let intervalId;
      let selectedArtwork = null;
      let isExpanded = false;

      function startRecording() {
        fetch("recording/start", { method: "POST" }).then((response) => {
          if (response.ok) {
            intervalId = setInterval(updateRecordingTime, 1000);
          }
        });
      }

      function stopRecording() {
        fetch("recording/stop", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: selectedArtwork ? `existing-artworks=${selectedArtwork}` : "",
        }).then((response) => {
          if (response.ok) {
            clearInterval(intervalId);
            document.getElementById("recording-time").innerText = "Stopped.";
            document.getElementById("recording-time").style.fontSize = "16px";
            document.getElementById("rec-stat").style.backgroundColor =
              "#3c3c3c";
            fetchRecordings();
          }
        });
      }

      function updateRecordingTime() {
        fetch("recording/status")
          .then((response) => response.json())
          .then((data) => {
            if (data.is_recording) {
              if (intervalId == null) {
                intervalId = setInterval(updateRecordingTime, 1000);
              }
              const elapsedTime = Math.floor(data.elapsed_time);
              const minutes = Math.floor(elapsedTime / 60);
              const seconds = elapsedTime % 60;
              document.getElementById(
                "recording-time"
              ).innerText = `${minutes}m ${seconds}s`;
              document.getElementById("recording-time").style.fontSize = "20px";
              document.getElementById("rec-stat").style.backgroundColor =
                "#EF5350";
            }
          });
      }

      function fetchArtworks() {
        fetch("recording/get_artworks")
          .then((response) => response.json())
          .then((data) => {
            const container = document.getElementById("artworks-container");
            container.innerHTML = "";
            const artworksToShow = isExpanded ? data : data.slice(0, 4);
            artworksToShow.forEach((artwork) => {
              const img = document.createElement("img");
              img.src = `/static/assets/thumbnails/${artwork}`;
              img.classList.add("artwork");
              img.onclick = () => selectArtwork(img, artwork);
              container.appendChild(img);
            });
          });
      }

      function selectArtwork(img, artwork) {
        const artworks = document.querySelectorAll(".artwork");
        artworks.forEach((a) => a.classList.remove("selected"));
        img.classList.add("selected");
        selectedArtwork = artwork;
      }

      function fetchRecordings() {
        fetch("recording/recordings")
          .then((response) => response.json())
          .then((data) => {
            const container = document.getElementById("recordings-container");
            container.innerHTML = "";
            data.recordings.sort((a, b) => new Date(b.date) - new Date(a.date));
            const recordingsToShow = isExpanded
              ? data.recordings
              : data.recordings.slice(0, 8);
            recordingsToShow.forEach((recording) => {
              const div = document.createElement("div");
              div.classList.add("recording");
              div.innerHTML = `
              <img src="${recording.artwork}" alt="Artwork" />
                <div><strong>Title:</strong> ${recording.title}</div>
                <div><strong>Artist:</strong> ${recording.artist}</div>
                <div><strong>Duration:</strong> ${Math.floor(
                  recording.duration / 60
                )}m ${recording.duration % 60}s</div>
                <div><a href="${recording.stream}">Download</a></div>
                <form action="javascript:void(0);" onsubmit="uploadReplacement(event, '${
                  recording.id
                }')">
                  <input type="file" name="replacement" accept="audio/mp3" required />
                  <button type="submit">Upload Replacement</button>
                </form>
                <button onclick="removeRecording('${
                  recording.id
                }')">Remove</button>

              `;
              container.appendChild(div);
            });
          });
      }

      function uploadReplacement(event, recordingId) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        formData.append("recording_id", recordingId);

        fetch("recording/replace", {
          method: "POST",
          body: formData,
        }).then((response) => {
          if (response.ok) {
            fetchRecordings();
          }
        });
      }

      function removeRecording(recordingId) {
        fetch(`recording/remove/${recordingId}`, {
          method: "DELETE",
        }).then((response) => {
          if (response.ok) {
            fetchRecordings();
          }
        });
      }

      function triggerFileInput() {
        document.getElementById("file-upload-input").click();
      }

      function toggleExpand() {
        isExpanded = !isExpanded;
        fetchArtworks();
        fetchRecordings();
        document.getElementById("expand-button").innerText = isExpanded
          ? "Collapse"
          : "Expand";
      }

      document.addEventListener("DOMContentLoaded", function () {
        fetchArtworks();
        fetchRecordings();
        updateRecordingTime();
      });
    </script>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <h2 style="font-weight: 400">Haymi, welcome to the admin dashboard!</h2>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <button id="expand-button" onclick="toggleExpand()">Expand</button>
    <div style="display: flex; flex-direction: row">
      <div>
        <div class="card">
          <h2>MP3 Stream Recorder</h2>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            "
          >
            <div id="rec-stat" class="recording-status-div">
              <p id="recording-time">Not recording.</p>
            </div>
            <div>
              <form
                action="javascript:void(0);"
                method="post"
                onsubmit="startRecording()"
              >
                <button type="submit">Start Recording</button>
              </form>
              <form
                action="javascript:void(0);"
                method="post"
                onsubmit="stopRecording()"
              >
                <button type="submit">Stop Recording</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card">
          <h2>Upload New Artwork</h2>
          <form
            action="recording/upload_artwork"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="flex-center-center">
              <button type="button" onclick="triggerFileInput()">
                Upload Artwok
                <input
                  type="file"
                  name="artwork"
                  accept="image/*"
                  id="file-upload-input"
                  style="display: none"
                />
              </button>
              <button
                type="submit"
                style="background-color: #6daf4e; box-shadow: none"
              >
                Send Artwork
              </button>
            </div>
          </form>

          <h2 style="margin-top: 15px">Select Existing Artwork</h2>
          <div id="artworks-container">
            <!-- Artworks will be populated by JavaScript -->
          </div>
        </div>
      </div>
      <div class="card" style="width: fit-content">
        <h2>Past Recordings</h2>
        <div id="recordings-container">
          <!-- Recordings will be populated by JavaScript -->
        </div>
      </div>
    </div>
  </body>
</html>
