<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <style>
      .artwork {
        width: 100px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        border: 2px solid transparent;
      }

      .artwork.selected {
        border: 2px solid blue;
      }
    </style>
    <script>
      let intervalId;

      function startRecording() {
        fetch("recording/start", { method: "POST" }).then((response) => {
          if (response.ok) {
            intervalId = setInterval(updateRecordingTime, 1000);
          }
        });
      }

      function stopRecording() {
        fetch("recording/stop", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: selectedArtwork ? `existing-artworks=${selectedArtwork}` : "",
        }).then((response) => {
          if (response.ok) {
            clearInterval(intervalId);
            document.getElementById("recording-time").innerText =
              "Recording stopped.";
          }
        });
      }

      function updateRecordingTime() {
        fetch("recording/status")
          .then((response) => response.json())
          .then((data) => {
            if (data.is_recording) {
              const elapsedTime = Math.floor(data.elapsed_time);
              const minutes = Math.floor(elapsedTime / 60);
              const seconds = elapsedTime % 60;
              document.getElementById(
                "recording-time"
              ).innerText = `Recording: ${minutes}m ${seconds}s`;
            }
          });
      }

      function fetchArtworks() {
        fetch("recording/get_artworks")
          .then((response) => response.json())
          .then((data) => {
            const container = document.getElementById("artworks-container");
            container.innerHTML = "";
            data.forEach((artwork) => {
              const img = document.createElement("img");
              console.log(artwork);
              img.src = `/static/assets/thumbnails/${artwork}`;
              img.classList.add("artwork");
              img.onclick = () => selectArtwork(img, artwork);
              container.appendChild(img);
            });
          });
      }

      function selectArtwork(img, artwork) {
        const artworks = document.querySelectorAll(".artwork");
        artworks.forEach((a) => a.classList.remove("selected"));
        img.classList.add("selected");
        selectedArtwork = artwork;
      }

      document.addEventListener("DOMContentLoaded", function () {
        fetchArtworks();
      });
    </script>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <p>Welcome to the admin dashboard!</p>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <h1>MP3 Stream Recorder</h1>
    <form
      action="javascript:void(0);"
      method="post"
      onsubmit="startRecording()"
    >
      <button type="submit">Start Recording</button>
    </form>
    <form action="javascript:void(0);" method="post" onsubmit="stopRecording()">
      <button type="submit">Stop Recording</button>
    </form>
    <p id="recording-time">Not recording.</p>

    <h2>Upload New Artwork</h2>
    <form
      action="recording/upload_artwork"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="artwork" accept="image/*" />
      <button type="submit">Upload Artwork</button>
    </form>

    <h2>Select Existing Artwork</h2>
    <div id="artworks-container">
      <!-- Artworks will be populated by JavaScript -->
    </div>
  </body>
</html>
